<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="accountList" class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Mary</h4>
        <p class="card-subtitle text-muted">SUPER ADMIN</p>
        <p class="lead">Username: mary</p>
        <p class="lead">Password: mary</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">James</h4>
        <p class="card-subtitle text-muted">EMPLOYEE ADMIN</p>
        <p class="lead">Username: james</p>
        <p class="lead">Password: james</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Lucifer</h4>
        <p class="card-subtitle text-muted">DEPARTMENTS CREATE, DEPARTMENTS READ, DEPARTMENTS PAGE VIEW</p>
        <p class="lead">Username: lucifer</p>
        <p class="lead">Password: lucifer</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Star</h4>
        <p class="card-subtitle text-muted">CUSTOMERS READ, CUSTOMERS PAGE VIEW</p>
        <p class="lead">Username: star</p>
        <p class="lead">Password: star</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Chloe</h4>
        <p class="card-subtitle text-muted">NO ROLES</p>
        <p class="lead">Username: chloe</p>
        <p class="lead">Password: chloe</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>